<h1>Boliger</h1>

<div
  class="text-center"
  *ngIf="
    (boligFacade.BoligIsLoading$ | async) ||
    (laanproduktFacade.LaanproduktIsLoading$ | async)
  "
>
  <app-spinner></app-spinner>
</div>

<div
  class="table-responsive mt-3"
  *ngIf="
    (boligFacade.BoligIsLoaded$ | async) &&
    (laanproduktFacade.LaanproduktIsLoaded$ | async)
  "
>
  <table
    class="table table-striped"
    *ngIf="!(boligFacade.BoligHasError$ | async)"
  >
    <thead>
      <tr>
        <th class="w-100 h3">Adresse</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of boligFacade.Boliger$ | async">
        <td>{{ item.adresse }}</td>
        <td>
          <button
            class="btn btn-outline-dark td--button"
            (click)="onVisBolig(item)"
          >
            Vis bolig
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <button
        class="btn btn-outline-dark my-3"
        [routerLink]="['/boliger/registrer']"
      >
        Registrer bolig
      </button>
    </tfoot>
  </table>

  <div
    class="alert alert-danger"
    role="alert"
    *ngIf="(boligFacade.BoligHasError$ | async)"
  >
    Det er desværre ikke muligt at hente boliger. Prøv igen om lidt, eller kontakt os!
  </div>
</div>
