<h1>Boliger</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="w-100">Adresse</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of boligFacade.Boliger$ | async">
        <td>{{ item.adresse }}</td>
        <td><button class="btn btn-outline-dark td--button" (click)="onLaanberegninger(item)">Vis bolig</button></td>
      </tr>
    </tbody>
    <tfoot>
      <button class="btn btn-success my-3" [routerLink]="['/boliger/opret']">
        Opret ny bolig
      </button>
    </tfoot>
  </table>
</div>

