<h1>Bedste Boligoverblik</h1>

<div class="mt-3 row">
  <div class="col-12 col-md-6">
    <p>
      Som boligsøgende, kan det være svært at holde overblikket over hvilke
      boliger man har besøgt, de geografiske områder, samt hvordan
      boligfinansiering af den enkelte bolig ser ud.
    </p>

    <p>
      Denne portal kan hjælpe med at give dette overblik. Ved at registrere sig,
      er det muligt at registrere boliger og lånberegninger, for at danne sig
      dette overblik. lånberegningerne er lavet på baggrund af lånprodukter fra
      Jyske Bank.
    </p>

    <p><em>God fornøjelse med jeres nye bolig</em></p>

    <div class="my-4">
      <h6>Se her hvordan du bruger Bedste Boligoverblik</h6>
      <video id="video" width="420" controls>
        <source
          src="./assets/videos/bedste-boligoverblik.mp4"
          type="video/mp4"
        />
        Din browser understøtter ikke video tag.
      </video>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <img
      src="./assets/images/house_with_checkboxes.jpg"
      class="img-fluid"
      alt="Responsive image"
    />
  </div>
</div>
