<h3>Opret ny lånberegning</h3>

<form novalidate autocomplete="off" [formGroup]="form">


  <div class="form-group">
    <label for="laanproduktSelect">Lån produkt</label>
    <select
      id="laanproduktSelect"
      class="form-select"
      formControlName="laanprodukt"
    >
      <option
        *ngFor="let item of laanberegningFacade.Laanprodukter$ | async"
        [value]="item.key"
        >{{item.value}}</option
      >
    </select>
  </div>

  <div class="form-group">
    <label for="userInput">User key (midlertidig!!!)</label>
    <input
      formControlName="user"
      type="text"
      class="form-control"
      id="userInput"
      placeholder="Indtast User"
    />
  </div>

  <div class="form-group">
    <label for="vejnavnInput">Vejnavn</label>
    <input
      formControlName="vejnavn"
      type="text"
      class="form-control"
      id="vejnavnInput"
      placeholder="Indtast vejnavn"
    />
  </div>

  <div class="form-group mt-3">
    <label for="husnummerInput">Husnummer</label>
    <input
      formControlName="husnummer"
      type="text"
      class="form-control"
      id="husnummerInput"
      placeholder="Indtast husnummer"
    />
  </div>

  <div class="form-group mt-3">
    <label for="postnummerInput">Postnummer</label>
    <input
      formControlName="postnummer"
      type="number"
      class="form-control"
      id="postnummerInput"
      placeholder="Indtast postnummer"
    />
  </div>

  <button class="btn btn-outline-dark mt-3" (click)="onOpret()">Opret</button>
</form>
