<h1>
  <i-bs
    name="arrow-left-circle"
    width="2rem"
    height="2rem"
    [routerLink]="['/boliger/vis']"
  ></i-bs>
  Registrer lån
</h1>

<form novalidate autocomplete="off" [formGroup]="form">
  <div class="form-group mt-3">
    <label for="laanproduktSelect">Lånprodukt</label>
    <select
      id="laanproduktSelect"
      class="form-select"
      formControlName="laanprodukt"
    >
      <option
        *ngFor="let item of laanproduktFacade.Laanprodukter$ | async"
        [value]="item.key"
        >{{item.value}}</option
      >
    </select>

    <p class="text-danger" *ngIf="laanproduktValidationMessage">
      {{ laanproduktValidationMessage }}
    </p>
  </div>

  <div class="form-group mt-3">
    <label for="prisInput">Pris</label>
    <input
      formControlName="pris"
      type="text"
      class="form-control"
      id="prisInput"
      placeholder="Indtast pris"
      currencyMask
    />

    <p class="text-danger" *ngIf="prisValidationMessage">
      {{ prisValidationMessage }}
    </p>
  </div>

  <div class="form-group mt-3">
    <label for="udbetalingInput">Udbetaling</label>
    <input
      formControlName="udbetaling"
      type="text"
      class="form-control"
      id="udbetalingInput"
      placeholder="Indtast udbetaling"
      currencyMask
    />

    <p class="text-danger" *ngIf="udbetalingValidationMessage">
      {{ udbetalingValidationMessage }}
    </p>
  </div>

  <div class="form-group mt-3">
    <label for="loebetidInput">Løbetid Realkreditlån i år</label>
    <input
      formControlName="loebetid"
      type="text"
      class="form-control"
      id="loebetidInput"
      placeholder="Indtast løbetid for Realkreditlån"
    />

    <p class="text-danger" *ngIf="loebetidValidationMessage">
      {{ loebetidValidationMessage }}
    </p>
  </div>

  <div class="form-group mt-3">
    <label for="afdragsfrihedInput">Afdragsfrihed i år</label>
    <input
      formControlName="afdragsfrihed"
      type="text"
      class="form-control"
      id="afdragsfrihedInput"
      placeholder="Indtast afdragsfrihed"
    />

    <p class="text-danger" *ngIf="afdragsfrihedValidationMessage">
      {{ afdragsfrihedValidationMessage }}
    </p>
  </div>

  <div class="form-group mt-3">
    <label for="loebetidBankInput">Løbetid Banklån i år</label>
    <input
      formControlName="loebetidBank"
      type="text"
      class="form-control"
      id="loebetidBankInput"
      placeholder="Indtast løbetid for Banklån"
    />

    <p class="text-danger" *ngIf="loebetidBankValidationMessage">
      {{ loebetidBankValidationMessage }}
    </p>
  </div>

  <button
    class="btn btn-outline-dark mt-3"
    [disabled]="form.invalid"
    (click)="onBeregn()"
  >
    Beregn
  </button>

  <button
    class="btn btn-outline-dark mt-3 mx-3"
    [disabled]="(laanberegningFacade.Laanberegning$ | async) === null"
    (click)="onRegistrer()"
  >
    Registrer
  </button>
</form>
