<h1>
  <i-bs
    name="arrow-left-circle"
    width="2rem"
    height="2rem"
    [routerLink]="['/boliger']"
  ></i-bs>
  Registrer bolig
</h1>

<form novalidate autocomplete="off" [formGroup]="form">
  <div class="form-group mt-3">
    <label for="vejnavnInput">Vejnavn</label>
    <input
      formControlName="vejnavn"
      type="text"
      class="form-control"
      id="vejnavnInput"
      placeholder="Indtast vejnavn"
    />

    <p class="text-danger" *ngIf="vejnavnValidationMessage">
      {{ vejnavnValidationMessage }}
    </p>
  </div>

  <div class="form-group mt-3">
    <label for="husnummerInput">Husnummer</label>
    <input
      formControlName="husnummer"
      type="text"
      class="form-control"
      id="husnummerInput"
      placeholder="Indtast husnummer"
    />

    <p class="text-danger" *ngIf="husnummerValidationMessage">
      {{ husnummerValidationMessage }}
    </p>
  </div>

  <div class="form-group mt-3">
    <label for="postnummerInput">Postnummer</label>
    <input
      formControlName="postnummer"
      type="number"
      class="form-control"
      id="postnummerInput"
      placeholder="Indtast postnummer"
    />

    <p class="text-danger" *ngIf="postnummerValidationMessage">
      {{ postnummerValidationMessage }}
    </p>
  </div>

  <button
    class="btn btn-outline-dark mt-3"
    [disabled]="form.invalid || (boligFacade.BoligIsSaving$ | async)"
    (click)="onRegistrer()"
  >
    Registrer
  </button>

  <div class="text-center" *ngIf="(boligFacade.BoligIsSaving$ | async)">
    <app-spinner></app-spinner>
  </div>

  <div
    class="mt-3 alert alert-danger"
    role="alert"
    *ngIf="(boligFacade.BoligHasError$ | async)"
  >
    Det er desværre ikke muligt at gemme boligen. Prøv igen om lidt, eller
    kontakt os!
  </div>
</form>
