<h1>
  <i-bs
    name="arrow-left-circle"
    width="2rem"
    height="2rem"
    [routerLink]="['/boliger']"
  ></i-bs>
  Registrer bolig
</h1>

<form novalidate autocomplete="off" [formGroup]="form">
  <div class="form-group mt-3">
    <label for="vejnavnInput">Vejnavn</label>
    <input
      formControlName="vejnavn"
      type="text"
      class="form-control"
      id="vejnavnInput"
      placeholder="Indtast vejnavn"
    />
  </div>

  <div class="form-group mt-3">
    <label for="husnummerInput">Husnummer</label>
    <input
      formControlName="husnummer"
      type="text"
      class="form-control"
      id="husnummerInput"
      placeholder="Indtast husnummer"
    />
  </div>

  <div class="form-group mt-3">
    <label for="postnummerInput">Postnummer</label>
    <input
      formControlName="postnummer"
      type="number"
      class="form-control"
      id="postnummerInput"
      placeholder="Indtast postnummer"
    />
  </div>

  <button class="btn btn-outline-dark mt-3" [disabled]="form.invalid" (click)="onRegistrer()">Registrer</button>
</form>
